apiVersion: v1
kind: List
items:
  - apiVersion: networking.k8s.io/v1
    kind: NetworkPolicy
    metadata:
      name: default-deny-egress-{{ label|regex_replace('=', '-') }}
      namespace: "{{ ecd_cnf_namespace }}"
    spec:
      podSelector:
        matchLabels:
          {{ label|regex_replace('=', ': ') }}
      policyTypes:
        - Egress
  - apiVersion: networking.k8s.io/v1
    kind: NetworkPolicy
    metadata:
      name: default-deny-ingress-{{ label|regex_replace('=', '-') }}
      namespace: "{{ ecd_cnf_namespace }}"
    spec:
      podSelector:
        matchLabels:
          {{ label|regex_replace('=', ': ') }}
      policyTypes:
        - Ingress
  - apiVersion: networking.k8s.io/v1
    kind: NetworkPolicy
    metadata:
      name: allow-intra-namespace-{{ label|regex_replace('=', '-') }}
      namespace: "{{ ecd_cnf_namespace }}"
    spec:
      podSelector:
        matchLabels:
          {{ label|regex_replace('=', ': ') }}
      ingress:
        - from:
            - namespaceSelector:
                matchLabels:
                  kubernetes.io/metadata.name: "{{ ecd_cnf_namespace }}"
      egress:
        - to:
            - namespaceSelector:
                matchLabels:
                  kubernetes.io/metadata.name: "{{ ecd_cnf_namespace }}"
