      apiVersion: v1
      kind: List
      items:
        - kind: NetworkPolicy
          apiVersion: networking.k8s.io/v1
          metadata:
            name: allow-istio-ingress
            namespace: "{{ cnf_namespace }}"
          spec:
            podSelector: {}
            ingress:
              - from:
                  - namespaceSelector:
                      matchLabels:
                        kubernetes.io/metadata.name: istio-system
            egress:
              - to:
                  - namespaceSelector:
                      matchLabels:
                        kubernetes.io/metadata.name: "{{ cnf_namespace }}"
        - kind: NetworkPolicy
          apiVersion: networking.k8s.io/v1
          metadata:
            name: allow-istio-egress
            namespace: "{{ cnf_namespace }}"
          spec:
            podSelector: {}
            ingress:
              - from:
                  - namespaceSelector:
                      matchLabels:
                        kubernetes.io/metadata.name: "{{ cnf_namespace }}"
            egress:
              - to:
                  - namespaceSelector:
                      matchLabels:
                        kubernetes.io/metadata.name: istio-system
        - kind: NetworkPolicy
          apiVersion: networking.k8s.io/v1
          metadata:
            name: allow-dns-ingress
            namespace: "{{ cnf_namespace }}"
          spec:
            podSelector: {}
            ingress:
              - from:
                  - namespaceSelector:
                      matchLabels:
                        kubernetes.io/metadata.name: openshift-dns
            egress:
              - to:
                  - namespaceSelector:
                      matchLabels:
                        kubernetes.io/metadata.name: "{{ cnf_namespace }}"
        - kind: NetworkPolicy
          apiVersion: networking.k8s.io/v1
          metadata:
            name: allow-dns-egress
            namespace: "{{ cnf_namespace }}"
          spec:
            podSelector: {}
            ingress:
              - from:
                  - namespaceSelector:
                      matchLabels:
                        kubernetes.io/metadata.name: "{{ cnf_namespace }}"
            egress:
              - to:
                  - namespaceSelector:
                      matchLabels:
                        kubernetes.io/metadata.name: openshift-dns
        - kind: NetworkPolicy
          apiVersion: networking.k8s.io/v1
          metadata:
            name: allow-apiserver-egress
            namespace: "{{ cnf_namespace }}"
          spec:
            podSelector: {}
            egress:
              - ports:
                  - protocol: TCP
                    port: 6443
