apiVersion: v1
kind: List
items:
- apiVersion: policy/v1
    kind: PodDisruptionBudget
    metadata:
    name: controller-manager-pdb-min
    namespace: {{ app_ns }}
    spec:
    minAvailable: 1
    selector:
        matchLabels:
        control-plane: controller-manager
- apiVersion: policy/v1
    kind: PodDisruptionBudget
    metadata:
    name: controller-manager-pdb-max
    namespace: {{ app_ns }}
    spec:
    maxUnavailable: 0
    selector:
        matchLabels:
        control-plane: controller-manager
