apiVersion: v1
kind: List
items:
- apiVersion: policy/v1
  kind: PodDisruptionBudget
  metadata:
    name: controller-manager-pdb-min
    namespace: {{ cnf_namespace }}
  spec:
    minAvailable: 0
    selector:
      matchLabels:
        control-plane: controller-manager
- apiVersion: policy/v1
  kind: PodDisruptionBudget
  metadata:
    name: controller-manager-pdb-max
    namespace: {{ cnf_namespace }}
  spec:
    maxUnavailable: 1
    selector:
      matchLabels:
        control-plane: controller-manager
